<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand"  ui-sref="root.home"><b style="color:red">D</b>jano<b style="color:red">W</b>orld</a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a ui-sref-active="active" class="nav-link active" ui-sref="root.home">Home</a>
        </li>
        <li class="nav-item">
          <a ui-sref-active="active" class="nav-link" ui-sref="root.cv">CV</a>
        </li>
        <li class="nav-item">
          <a ui-sref-active="active" class="nav-link" ui-sref="root.chart">Chart</a>
        </li>
        <li class="nav-item">
          <a ui-sref-active="active" class="nav-link" ui-sref="root.posts">Posts</a>
        </li>
        <li ng-hide="islogin.value" class="nav-item">
          <a ui-sref-active="active" class="nav-link" ui-sref="root.signin">SignIn</a>
        </li>
        <li ng-show="islogin.value" class="nav-item">
          <a ui-sref-active="active" class="nav-link" ui-sref="root.cpost">Create Post</a>
        </li>
      </ul>
      <form ng-hide="islogin.value" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="email" placeholder="email" aria-label="email" ng-model="username">
        <input class="form-control mr-sm-2" type="password" placeholder="password" aria-label="password" ng-model="password">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" ng-click="login()">Login</button>
      </form>
      <form ng-show="islogin.value" class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" ng-click="logout()">Logout</button>
      </form>
    </div>
  </nav>
<!--
    <li ui-sref-active="pure-menu-selected"><a href ui-sref="root.home">{{ 'home' | uppercase }}</a>
    </li>
    <li ui-sref-active="pure-menu-selected"><a href ui-sref="root.miscellaneous">{{ 'miscellaneous' | uppercase }}</a>
    </li>
  -->